		* {
            margin: 0;
            padding: 0;
        }
		html{overflow-x:hidden}
		html{overflow-y:hidden}
       
		.media
		{
			width: 100%;
            position: relative;
            margin: 0px;
            padding: 0px;
			border:0px;
		}
		
        .shrink {
            width: 100%;
            background: #FFFFFF;
            position: relative;
			padding-bottom: 8px;
			overflow:hidden;
        }
		.refresh {
			border: 0;
			padding: 0;
			margin-left: 12px;
			margin-top: 9px;
			width: 22px;
			height: 22px;
			cursor: pointer;
			float:left;
			position: relative;
			background: url("../img/refresh.png");
		}

		.refresh:hover {
			background-position: -22px 0;
		}

		.refresh:active {
			background-position: -44px 0;
		}

		.voice {
			border: 0;
			padding: 0;
			margin-left: 16px;
			margin-top: 9px;
			width: 22px;
			height: 22px;
			cursor: pointer;
			float:left;
			position: relative;

			background: url("../img/turnOn.png");

		}

		.voice:hover {
			background-position: -22px 0;
		}

		.voice:active {
			background-position: -44px 0;
		}

        .stateBut {
			border: 0;
			margin: 0 auto;
			width: 78px;
			height: 24px;
			cursor: pointer;
			display: inline-block;
			float:right;
			margin-right: 12px;
			margin-top: 8px;
			background-position:0 0;
			background: url("../img/scrollUp.png");
        }
		.stateBut:hover {
			background-position: -78px 0;
		}


		.stateBut:active {
			background-position: -156px 0;
		}


		.pullDownBanner{
		/* position: relative; */
			display: block;
			background: #FFFFFF;
			overflow:hidden;
			padding-top: 5px;
		}
        .GameKey  {
		/* position: relative; */
            margin: 0;
			display: block;
			background: #FFFFFF;
		}
		
		.intro_url {
			top:0;
            position: relative;
            color: gray;
			float:right;
			font-size:12px;
			right : 12px;
        }
		.QQGroup {
			top:0;
			position: relative;
			color: gray;
			float:left;
			font-size:12px;
			margin-left: 12px;
		}
		.mediaLayout{
			width:100%;
			height:500px;
			border:0;
		}

		.unity3DPluginMissing{
			display: none;
			text-align:center;
			align:center;
			vertical-align: middle;
			margin-top:30%;
		}
		.unity3DPluginBroken{
			display: none;
			text-align:center;
			vertical-align: middle;
			margin-top:30%;
		}