@charset "gb2312";body{font-size:12px;font-family:\5B8B\4F53;color:#484848;line-height:24px}
body,html,a,img,div,form,select,input,ul,ol,li,h1,h2,h3,h4,h5,h6,dd,dl,dt,p,label,em,span,cude,i{margin:0;padding:0}
html,body {overflow-x:hidden}
body{position:relative}
.skin-lk{display:none}
.skin-lk a{background:url(about:blank);display:block;width:210px;height:500px;overflow: hidden;text-indent:-9999em;line-height:99;position:absolute;left:50%;top:40px}
.skinlk-r {margin-left:510px}
.skinlk-l {margin-left:-714px}
a{color:#484848;text-decoration:none}
a:hover{color:#fb6400;text-decoration:underline}
ol,ul,li{list-style:none}
em,i{font-style:normal}
img{border:none}
.cf{*zoom:1}
.cf:after{content:'';display:block;height:0;clear:both}
.nav_top,.back,.ico_1,.ico_2,.ico_3,.ico_4,.ico_5,.ico_6,.a_01,.a_02,.a_03,.a_04,.r_up,.r_do,.not_p,.menu_le a:hover,.m_on,.i_a1,.i_a2,.i_a3,.i_hot,.i_new,.tit_ico3,.tit_ico4,.game_w,.more_top a,.p_up,.p_do,.pag a,.pag a:hover,.p_on,.ip_game span,.caro,.new_ico,.girl_box,.girl_tab a,.more_2,.more_3,.girl,.moc,.fk em,.wb,.tx,.skin_top,.i_sel,.p_close,.skin_pag a,.sk_le,.sk_ri,.dr,.new,.hot,.com,.i_rec,.i_close,.h,.n,.up_1,.do_1,.p-ico,.gossip,.g-world{background:url(/images/index3/fixed8.png)}
.search,.menu_ri,.gp:hover,.dh:hover,.mi_tit,.ip_game,.hsl_n,.hsl_y,.hsr_n,.hsr_y,.g_le,.g_ri,.tm_la,.more_1,.tit_ico1,.tit_ico2,.tit_ico5,.phone_1,.qz_ul li,.more_top:hover,.tab_on,.star_tab,.s_ri,.copy_t,.t_top,.for_phone,.s_ico,.g-ico,.old-t1,.old-t2{background:url(/images/index3/color_1.png)}
.hot,.new,.com{display:block;width:38px;height:38px;cursor:pointer;position:absolute;top:0;left:9px}
.hot{background-position:-346px -393px}
.new{background-position:-346px -431px}
.com{background-position:-346px -455px;width:36px;height:36px}
.myhot,.mynew{width:20px;height:14px;cursor:pointer;display:block;position:absolute;right:0;top:2px}
.myhot{background:url(http://imga.4399.cn/upload_pic/2013/hot3.gif) no-repeat right 0}
.mynew{background:url(http://imga.4399.cn/upload_pic/2013/new3.gif) no-repeat right 0}
.nav_box{height:31px}
.nav_top{width:100%;height:31px;position:fixed;z-index:1001}
.wrap{width:980px;margin:0 auto;z-index:10}
.wrap a{color:#8e8e8e}
.wrap a:hover{color:#f60}
.link_w{float:left;padding-top:8px}
.link_w li{float:left;height:16px;line-height:16px;border-right:1px solid #e0e0e0;margin-right:10px;padding-right:10px;display:inline;overflow:hidden}
.back{background-position:-106px -228px;padding-left:22px;border-right:0 !important}
.search{float:left;width:280px;height:24px;margin-top:3px}
.search input{float:left;width:205px;height:24px;line-height:26px;padding-left:25px;background:none;border:none;color:#bcbcbc}
.s_fl{float:left}
.s_btn{width:50px !important;cursor:pointer}
.link_r{float:right;height:23px;padding-top:7px}
.link_r a{float:left;height:16px;line-height:17px;border-right:1px solid #e0e0e0;margin-right:10px;padding-right:8px;display:inline}
.acc img{float:left;margin:-4px 5px 0 0;width:24px;height:24px;position:relative;z-index:899}
.acc span{float:left;height:14px;width:48px;line-height:14px;padding-top:2px;overflow:hidden}
.ico_1{background-position:-106px -250px;padding-left:23px}
.ico_2{background-position:-106px -276px;padding:0 23px !important;color:#FB6400 !important}
.i2_hover{background:url(/images/index3/fixed6.png) no-repeat -96px -269px #fff;height:32px;line-height:31px;position:absolute;padding:0 10px 0 33px;width:61px;top:0;left:50%;margin-left:313px;border-left:1px solid #ccc;border-right:1px solid #ccc;z-index:2;color:#FB6400 !important}
.ico_6{background-position:-460px -393px;padding:0 23px !important}
.i6_hover{background:url(/images/index3/fixed6.png) no-repeat -450px -386px #fff;height:32px;line-height:31px;position:absolute;padding:0 10px 0 33px;width:61px;top:0;left:50%;margin-left:208px;border-left:1px solid #ccc;border-right:1px solid #ccc;z-index:2}
.ico_3{background-position:-106px -302px;padding-left:23px;border-right:0 !important;padding-right:0 !important;color:#0098DF !important}
.s_em{padding:1px 2px}
.login{position:absolute;width:108px;background:#fff;top:-2px;left:50%;margin-left:99px;border:1px solid #ccc;border-top:0;padding-top:3px;z-index:11}
.login a{display:block;height:30px;line-height:30px;overflow:hidden}
.login img{float:left;margin:2px 5px 0 8px;width:24px;height:24px}
.login span{float:left;width:48px;height:24px;overflow:hidden;cursor:pointer}
.ico_4,.ico_5{float:left;background-position:-192px -331px;width:10px;height:5px;overflow:hidden}
.ico_4{margin:12px 0 0 5px}
.ico_5{margin:6px 0 0 5px}
.a_01,.a_02,.a_03,.a_04{background-repeat:no-repeat;padding-left:31px}
.a_01{background-position:7px -415px}
.a_01:hover{background-position:-131px -415px}
.a_02{background-position:7px -441px}
.a_02:hover{background-position:-131px -441px}
.a_03{background-position:7px -468px}
.a_03:hover{background-position:-131px -468px}
.a_04{background-position:7px -500px}
.a_04:hover{background-position:-131px -500px}
.quit{background:#f5f5f5;text-align:center}
.played{background:#fff;position:absolute;width:280px;border:1px solid #ccc;left:50%;margin-left:208px;top:31px;z-index:1}
.p_ml{margin-left:113px}
.not_p{background-position:-622px -254px;width:276px;height:60px;line-height:60px;color:#fb6400;text-align:center;margin:0 auto}
.not_ul{float:left;padding:15px 0 0 11px}
.not_ul li{float:left;display:inline;text-align:center;width:78px;height:100px;overflow:hidden;margin:0 11px 3px 0;position:relative} 
.not_ul img{display:block;width:72px;height:72px;margin:0 auto}
.i_rec{background-position:-461px -424px;position:absolute;display:block;width:20px;height:14px;left:4px;top:5px}
.i_close{background-position:-461px -448px;display:none;width:11px;height:11px;position:absolute;right:3px;top:0;cursor:pointer}
.pag_box{background:url(/images/index2/color_1.png) no-repeat 0 -947px #ebffce;float:left;width:275px;padding-left:5px;height:30px}
.pag{float:left}
.pag a{background-position:-360px -266px;float:left;width:7px;height:7px;margin:13px 5px 0 5px;overflow:hidden}
.pag a:hover,.p_on{background-position:-360px -273px !important}
.p_up,.p_do{float:left;width:17px;height:17px;margin-top:7px}
.p_up{background-position:-360px -231px}
.p_up:hover{background-position:-360px -248px}
.p_do{background-position:-377px -231px}
.p_do:hover{background-position:-377px -248px}
.dl{float:right;line-height:30px;margin-right:5px;color:#69a905 !important}
.dl:hover{color:#fb6400 !important}
.new_pag{clear:both;height:22px;text-align:center;overflow:hidden}
.up_1,.do_1{display:inline-block;width:36px;height:20px;margin:0 5px}
.up_1{background-position:-908px -387px}
.up_1:hover,.up_1.uon{background-position:-908px -407px !important}
.do_1{background-position:-944px -387px}
.do_1:hover,.do_1.don{background-position:-944px -407px !important}
.top,.menu{width:978px;margin:0 auto}
.top{background:#fff;height:75px;overflow:hidden}
.menu{background:url(/images/index2/color_1.png) 0 -24px #6cae05;height:34px;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53;border:1px solid #5f9b01;position:relative}
.menu_le{float:left;padding:5px 0 0 5px;height:29px;overflow:hidden}
.menu_le a{float:left;width:40px;height:25px;line-height:25px;color:#fff;text-align:center;margin-left:2px}
.menu_le a:hover,.m_on{background-position:-910px -231px;color:#6daf05 !important;font-weight:bold;text-decoration:none}
.menu_ri{background-position:0 -58px;float:right;width:139px;padding-left:10px;height:34px;line-height:32px;overflow:hidden}
.menu_ri a{float:left;margin:0 7px;font-weight:bold;_font-weight:normal;color:#6aa905}
.menu_ri a:hover{color:#6aa905}
.middle_1{background:#eeffd9;width:978px;height:34px;background:#eeffd9;border-left:1px solid #c0eb7c;border-right:1px solid #c0eb7c;overflow:hidden;margin:0 auto}
.for_phone{background-position:-61px -224px;float:left;width:42px;padding-right:5px;height:34px;line-height:34px;color:#389904;text-align:center;overflow:hidden}
.mi_ul{float:left;width:525px;padding-top:5px}
.mi_ul li{float:left;display:inline;line-height:24px;padding:0 9px 0 6px;position:relative}
.mi_ul em{float:left;width:24px;height:24px;overflow:hidden;cursor:pointer;margin-right:4px}
.mi_ul a{color:#fb6400;font-weight:bold;display:block}
.mi_ul a:hover{color:#fb6400}
.h,.n{display:block;width:10px;height:13px;position:absolute;right:0;top:-3px}
.h{background-position:-461px -494px}
.n{background-position:-461px -516px}
.mi_1,.mi_2{background:url(/images/index1/zt.png) no-repeat}
.mi_2{background-position:0 -24px}
.p-forum{background:#fff;width:978px;height:34px;line-height:34px;border:1px solid #c0eb7c;border-top:none;overflow:hidden;margin:0 auto}
.p-ico{background-position:-396px -231px;float:left;width:99px;height:34px}
.p-forum a{margin-right:12px}
.iptg{background:#eeffd9;border:1px solid #c0eb7c;width:978px;height:30px;line-height:30px;font-size:14px;margin:0 auto 5px}
#hscontentdiv a{display:inline-block;color:#389904}
#hscontentdiv a:hover{color:#f60}
.middle_2{background:#fff;border:1px solid #c0eb7c;width:978px;height:198px;padding-top:3px;margin:0 auto}
.logo{float:left;margin-top:5px}
.tdc{float:left;display:inline;width:72px;text-align:center;color:#666;line-height:18px;margin:3px 0 0 15px}
.tdc img{display:block;width:53px;height:53px;margin:0 auto}
.reco{float:left;width:504px;margin:10px 0 0 20px}
.reco em{float:left;width:9px;height:14px;margin-top:20px;cursor:pointer}
.r_up{background-position:-368px -266px;margin-right:5px}
.r_do{background-position:-377px -266px;margin-left:5px}
.reco_c{float:left;width:460px;height:55px;overflow:hidden}
.reco_c a{float:left;width:70px;height:55px;margin:0 11px}
.reco_c a img{display:block;width:70px;height:55px}
.reco_r{float:right;padding-top:10px}
.reco_r a{float:left;margin-left:10px}
.reco_r img{display:block;width:85px;height:55px}
.dh{width:55px !important}
.dh:hover{background-position:-910px -257px !important}
.gp{width:70px !important}
.gp:hover{background-position:-910px -283px !important}
.i_hot,.i_new{background-position:-360px -284px;display:block;width:29px;height:19px;right:230px;top:-8px;position:absolute}
.i_new{background-position:-391px -284px;width:17px;height:17px;right:336px}
.idesk{float:right;width:400px;margin:6px 6px 0 0;display:inline}
.idesk a{float:left;width:132px;height:23px;margin-left:5px;line-height:100px;overflow:hidden}
.i_a1{background-position:-212px -229px;height:25px !important;margin-top:-2px}
.i_a2{background-position:-212px -254px}
.i_a3{background-position:-212px -277px;width:120px !important}
.mi_d1,.mi_d2,.mi_d3{height:24px;line-height:24px;margin-bottom:4px;overflow:hidden}
.mi_d,.mi_web{float:left;overflow:hidden}
.mi_d{width:440px}
.mi_g{width:auto}
.mi_d2{background:#f9fff0}
.mi_b{position:relative;display:inline-block;padding-right:23px;cursor:pointer}
.mi_web{width:845px}
.mi_d a,.mi_web a,.mi_g a{margin-right:12px}
.mi_d3 a{display:inline-block}
.mi_d3 a:hover{color:#fb6400}
.mi-lr{float:left;width:489px}
.mi_tit{background-position:-149px -58px;float:left;width:32px;color:#6aaa05;padding-left:4px;height:18px;line-height:18px;overflow:hidden;margin:3px 8px 0 5px;display:inline;overflow:hidden}
.game_w{background-position:-497px -285px;float:left;width:63px;padding-left:4px;height:18px;line-height:18px;overflow:hidden;color:#ed7811 !important;margin:3px 8px 0 5px}
.more{float:right;margin-right:5px !important;color:#8f8f8f !important}
.more:hover{color:#f60 !important}
.more_1{background-position:0 -247px;float:right;width:38px;height:13px;margin:10px 8px 0 0;line-height:100px;overflow:hidden}
.more_1:hover{background-position:0 -260px}
.fb6{color:#fb6400 !important}
.f38{color:#389904 !important}
.caro{background-position:-360px -308px;float:right;width:240px;padding-left:15px;height:24px;overflow:hidden}
.caro li{height:24px;overflow:hidden}
.caro a{color:#389904}
.caro a:hover{color:#fb6400}
.bgbox{background:#fff;width:980px;padding-top:5px;overflow:hidden;margin:0 auto}
.ip_game{background:url(/images/index2/color_1.png) no-repeat 0 -92px;float:left;width:102px;height:30px}
.ip_game span{background-position:-143px -331px;display:inline-block;width:11px;height:11px;vertical-align:middle;margin:0 5px 0 2px;cursor:pointer}
#hscontent{float:left;width:780px;white-space:nowrap;word-spacing:4px;height:30px;overflow:hidden}
.hsl_n,.hsl_y,.hsr_n,.hsr_y{float:left;width:10px;height:14px;overflow:hidden;margin:8px 4px 0 4px}
.hsl_n{background-position:-0 -122px}
.hsl_y{background-position:-10px -122px;cursor:pointer}
.hsr_n{background-position:-0 -136px}
.hsr_y{background-position:-10px -136px;cursor:pointer}
.empty{background:#d2f2a5;color:#52a21c;float:right;text-align:center;width:46px;height:30px;line-height:30px}
.empty:hover{background:#7bd109;color:#fff;text-decoration:none}
.rollgame{background:#fff;border:1px solid #c0eb7c;width:978px;height:146px;border:1px solid #c0eb7c;margin:0 auto}
.ulleft{float:left;width:1872px;height:144px;display:block}
.g_le,.g_ri{width:15px;height:68px;margin-top:35px}
.g_le{float:left;background-position:0 -151px}
.g_ri{float:right;background-position:-15px -151px}
.game_box{float:left;height:140px;margin-left:7px;padding-top:6px;width:938px;overflow:hidden}
.g_list{float:left;width:1872px}
.g_list li{float:left;display:inline;width:72px;height:63px;text-align:center;line-height:20px;margin:3px 3px 2px 3px;overflow:hidden}
.g_list img{display:block;width:63px;height:42px;margin:0 auto}
.middle_3{background:#fff;width:980px;margin:10px auto}
.rec_left,.tm_fun,.rec_top{background:#fff;border:1px solid #c0eb7c}
.h_1{height:410px}
.h_2{height:1300px;margin-top:10px}
.h_3{height:1905px}
.h_4{height:240px;margin-top:10px}
.box_l,.box_c{float:left}
.box_l{width:248px;margin-left:10px}
.box_c{width:722px}
.rec_left{width:246px}
.phone{right:0;border-left:1px solid #a9d762;cursor:pointer}
.phone_1{background-position:-33px -122px;float:left;width:14px;height:26px;margin:-3px 5px 0 0;position:relative}
.tab_1{background:#eeffd9;height:36px;border-bottom:1px solid #c0eb7c;position:relative}
.s_tab1{float:left;padding:8px 0 0 10px;font-family:\5FAE\8F6F\96C5\9ED1;font-size:14px;position:absolute}
.s_tab1 li{background:#f7ffec;color:#4ca127;display:inline;border:1px solid #c0eb7c;float:left;width:85px;height:27px;line-height:27px;text-align:center;border-bottom:0;cursor:pointer;margin-right:5px;padding:0 8px}
.s_tab1 li.tab_on{background:#fff;border-top:3px solid #80c90c;font-weight:bold;height:30px;line-height:20px;margin-top:-4px}
.s_tab1 a{color:#448230}
.s_ico{background-position:-56px -154px;display:block;width:7px;height:4px;overflow:hidden;margin:0 auto;*margin:0}
.rec_ul{float:left;width:218px;padding:0 0 13px 13px}
.rec_ul li{float:left;width:218px;height:55px;overflow:hidden;display:inline;margin-top:14px}
.rec_img{float:left;width:55px}
.rec_img img{display:block;width:55px;height:55px}
.rec_ul p{float:left;width:158px;padding-left:5px;line-height:18px}
.p_ac{display:block;margin-top:5px;font-size:12px;line-height:16px;color:#929292}
.tit_ico1{background-position:0 -224px;width:16px;height:16px;float:left;margin:8px 5px 0 10px}
.tit_ico2{background-position:0 -279px;float:left;width:9px;height:32px;margin-right:5px}
.tit_ico3{background-position:-157px -331px;float:left;width:10px;height:16px;margin:8px 6px 0 6px}
.tit_ico4{background-position:-171px -331px;float:left;width:16px;height:16px;margin:7px 5px 0 5px}
.tit_ico5{background-position:0 -518px;float:right;width:102px;height:32px;margin-right:15px}
.asp_box{width:246px;margin-top:10px;border:1px solid #c0eb7c}
.asp_week{border-top:1px solid #c0eb7c;border-bottom:1px solid #c0eb7c}
.tit_a{float:left;font-weight:bold;color:#448230}
.asp_img{display:block;width:220px;height:120px;margin:10px auto 0}
.evn_box{width:720px;height:140px;border:1px solid #8ddcf7;margin-top:10px}
.evn_week{background:#d4f4ff;height:32px;line-height:32px;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53;font-size:14px;font-weight:bold;border-top:1px solid #8ddcf7;border-bottom:1px solid #8ddcf7;overflow:hidden}
.evn_week a{color:#4e4e4e}
.evn_week a:hover{color:#f60}
.evn_ul{float:left;padding:9px 0 0 10px}
.evn_ul li{float:left;width:145px;height:95px;display:inline;text-align:center;margin:0 15px;overflow:hidden}
.evn_ul img{display:block;width:145px;height:70px}
.tm_fun{width:720px}
.more_2{background-position:-942px -323px;display:block;width:38px;line-height:100px;height:13px;top:10px;right:8px;position:absolute;overflow:hidden}
.more_2:hover{background-position:-942px -336px}
.more_3{background-position:-942px -350px;float:right;width:38px;line-height:100px;height:13px;overflow:hidden;margin:10px 9px 0 0}
.more_3:hover{background-position:-942px -363px}
.new_ico{background-position:-360px -332px;float:left;width:26px;height:11px;margin:10px 5px 0 0;cursor:pointer}
.tm_list{float:left;padding:7px 0 0 5px}
.tm_list li{float:left;width:95px;height:95px;padding-top:3px;display:inline;line-height:22px;text-align:center;margin-left:6px;overflow:hidden;position:relative}
.tm_list img{display:block;width:72px;height:72px;margin:0 auto}
.rec_top{width:246px;margin-top:10px;padding-bottom:10px}
.top_ul{float:left;padding:10px 0 0 2px}
.top_ul li{float:left;display:inline;width:81px;height:90px;text-align:center;line-height:22px;overflow:hidden}
.top_ul img{display:block;width:72px;height:62px;margin:0 auto}
.qz_ul{float:left;width:218px;height:401px;padding:0 0 10px 10px;overflow:hidden}
.qz_ul li{background-position:0 -405px;float:left;width:228px;height:93px;overflow:hidden;display:inline;margin-top:10px}
.qz_img{float:left;width:75px;border:1px solid #e5e5e5;padding:3px}
.qz_img img{display:block;width:75px;height:75px}
.qz_ul p{float:left;width:130px;padding:8px 0 0 5px;line-height:20px;font-size:14px}
.wd_ul{float:left;padding-top:10px}
.wd_ul li{float:left;width:106px;height:93px;text-align:center;display:inline;margin-left:11px;overflow:hidden}
.wd_ul img{display:block;width:106px;height:64px}
.lf_game,.old-g,.star_box,.games,.links,.copy{background:#fff;border:1px solid #c0eb7c;width:978px;padding-bottom:8px;border:1px solid #c0eb7c;margin:10px auto}
.star_box{border-top:none !important;margin:0 auto}
.g_line{background:#f5ffe4;border:1px solid #c0eb7c;color:#389904;display:block;position:absolute;top:-5px;left:10px;width:92px;height:24px;line-height:22px;text-align:center;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53;font-size:14px}
.lf_ul{padding-top:15px}
.lf_ul li{margin-left:11px;width:96px}
.girl_box{background-position:0 -99px;width:980px;height:129px;position:relative;margin:0 auto}
.girl{background-position:0 -228px;position:absolute;width:73px;height:99px;top:-10px;left:5px}
.girl_a{position:absolute;display:block;width:110px;height:28px;left:83px;top:5px}
.girl_tab{width:915px;padding:35px 0 0 65px}
.girl_tab a{background-position:-497px -231px;float:left;width:67px;height:24px;text-align:center;font-size:14px;margin:1px;overflow:hidden}
.girl_c{background:#fff;border:1px solid #f8c3e2;width:978px;border-top:0;padding-bottom:8px;margin:0 auto}
.g-ul{float:left;width:750px;padding:15px 0 0 0}
.g-ul li{margin:0 0 5px 11px;width:96px}
.g-rbox{float:right;display:inline;width:193px;margin-right:15px;overflow:hidden}
.gossip,.g-world{background-position:right -428px;height:39px;font-size:14px;padding-left:25px;line-height:38px;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53}
.gossip a,.g-world a{color:#f228c0}
.gossip a:hover,.g-world a:hover{color:#fb6400}
.i-gossip{width:192px;height:102px;position:relative}
.i-gossip span{position:absolute;left:4px;top:74px;z-index:1;width:184px;height:24px;cursor:pointer}
.i-gossip em{display:block;height:24px;text-align:center;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53;cursor:pointer;color:#fff;background:rgba(0,0,0,.65) !important;background:#000\9;filter:alpha(opacity=65)\9}
.i-gossip em b{cursor:pointer;font-weight:normal;position:relative}
.i-gossip img{display:block;border:1px solid #f8c3e2;padding:3px}
.i-gossip:hover,.i-gossip:hover b{text-decoration:underline}
.g-world{background-position:right -496px;margin-top:8px;padding-left:26px}
.gw-ul{width:280px}
.gw-ul li{float:left;display:inline;width:84px;height:78px;text-align:center;margin-right:24px;overflow:hidden}
.gw-ul img{display:block;width:80px;height:50px;border:1px solid #f8c3e2;padding:1px}
.tm_tit,.top_tit{background:#eeffd9;height:32px;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53;font-size:14px;line-height:32px;overflow:hidden}
.tm_upd{float:right;font-family:\5B8B\4F53;font-size:12px}
.tm_upd{color:#a6d45e}
.tm_upd span{font-weight:bold;color:#f60;text-decoration:underline}
.tm_upd a{color:#448230}
.tm_upd a:hover{color:#f60}
.g-old{height:72px}
.old-g{height:677px;position:relative}
.g-ico{background-position: right -58px;width:53px;height:83px;top:-11px;left:15px;position:absolute}
.o-tit{font-size:16px;color:#448230;font-weight:bold;left:80px;top:3px;position:absolute}
.old-line{float:left;display:inline;width:890px;margin:8px 0 0 80px;overflow:hidden}
.old-line a{background:#fff;display:inline-block;height:22px;line-height:22px;border:1px solid #c0eb7c;padding:0 5px;margin-right:5px}
.o-ul{width:712px;padding:15px 0 0 5px;display:inline}
.o-ul li{margin-left:5px;width:96px}
.old-ri{float:right;display:inline;width:245px;height:596px;margin:5px 8px 0 0;overflow:hidden}
.old-t1,.old-t2{width:235px;height:32px;margin:14px auto 10px auto}
.old-t1{background-position:right -290px}
.old-t2{background-position:right -323px}
.o-bor1,.o-bor2{width:240px;height:180px;border:1px solid #c0eb7c}
.o-bor2{height:300px}
.old-a{display:block;text-align:center;font-size:14px;line-height:34px;margin:10px 0 5px 0}
.old-a img{display:block;width:220px;height:130px;margin:0 auto}
.or-ul{float:left;padding:10px 0 0 2px}
.or-ul li{float:left;width:106px;height:96px;text-align:center;display:inline;margin-left:8px;line-height:26px;overflow:hidden}
.or-ul img{display:block;width:106px;height:64px}
.fenl_lbox,.fenl_rbox{background:#fff;width:483px;height:355px;border:1px solid #c0eb7c}
.fenl{width:980px;margin:10px auto}
.fenl_lbox{float:left}
.fenl_rbox{float:right}
.fenl_ul{float:left;padding:15px 0 0 8px}
.fenl_ul li{float:left;width:95px;height:90px;padding-top:3px;line-height:18px;display:inline;margin-bottom:13px;text-align:center;position:relative;overflow:hidden}
.fenl_ul img{display:block;width:72px;height:72px;margin:0 auto}
.s_tab{float:left;padding:19px 0 0 45px}
.s_tab li{background:#f7ffec;color:#4ca127;border:1px solid #c0eb7c;float:left;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53;font-size:14px;width:58px;height:27px;line-height:27px;text-align:center;border-bottom:0;cursor:pointer;margin-right:2px;overflow:hidden}
.s_tab li.tab_on{background:url(/images/index2/color_1.png) no-repeat -32px -151px #fff;height:32px;line-height:32px;margin-top:-4px}
.star_tab{background-position:0 -600px;width:980px;margin:-10px auto 0;height:48px}
.s_le{background:url(/images/index2/color_1.png) no-repeat 0 -552px;float:left}
.s_ri{background-position:0 -648px;float:right;width:1px;height:48px;overflow:hidden}
.games{height:226px;position:relative}
.games_ul{float:left;padding:8px 0 0 12px}
.games_ul li{float:left;display:inline;height:24px;line-height:24px;margin-right:3px;width:117px;overflow:hidden}
.links{text-align:center;line-height:22px;padding:10px 0;color:#c0eb7c}
.links a{color:#5da93d;margin:0 3px}
.links a:hover{color:#fb6400}
.copy{padding:10px 0;color:#8e8e8e;text-align:center}
.copy a{color:#8e8e8e}
.copy a:hover{color:#fb6400}
.copy_t{background-position:0 -438px;width:960px;height:60px;margin:0 auto}
.copy_t span{color:#f60}
.copy_c{padding-top:10px;text-align:center;overflow:hidden;position:relative}
.copy_c a{margin:0 5px}
.fk{color:#ff7c2d !important}
.fk em{background-position:-531px -260px;display:inline-block;width:12px;height:12px;vertical-align:middle;margin-right:3px}
.wb,.tx{display:inline-block;width:16px;height:16px;vertical-align:middle;margin:0 3px !important}
.wb{background-position:-497px -260px}
.tx{background-position:-514px -260px}
.moc{background-position:-544px -260px;display:inline-block;width:22px;height:22px;vertical-align:middle;margin:0 !important}
.skin_pop{background:#fff;width:460px;height:400px;opacity:0.75;filter:alpha(opacity=75);left:50%;margin-left:-200px;top:100px;position:absolute;z-index:100}
.skin_box{background:#fff;width:450px;height:390px;border:1px solid #cacac9;left:50%;top:104px;margin-left:-196px;position:absolute;z-index:101}
.skin_top{background-position:0 -32px;height:37px}
.skin_tab{float:left;height:33px;overflow:hidden}
.skin_tab a{float:left;width:88px;height:32px;line-height:32px;font-size:14px;text-align:center;color:#565656;border-left:1px solid #fff;border-right:1px solid #dbdbdb}
.skin_tab a:hover,.skin_tab .on{background:url(/images/index3/fixed6.png) no-repeat -557px -66px #f7fee3;height:33px !important;color:#171e03 !important;text-decoration:none}
.skin_ul{height:300px}
.skin_ul li{float:left;display:inline;width:100px;height:90px;margin:6px 0 0 10px;text-align:center;position:relative}
.skin_ul li img{display:block;height:70px;width:100px}
.i_sel{background-position:-138px -69px;display:block;width:18px;height:18px;right:3px;top:3px;position:absolute;cursor:pointer}
.p_close{background-position:0 -69px;float:right;width:24px;height:24px;margin:4px 10px 0 0}
.skin_box1{border-top:1px dotted #bfd1bd;width:100%;height:30px;padding-top:10px}
.skin_pag{float:left;padding-top:8px}
.skin_pag a{background-position:-40px -69px;float:left;width:15px;height:15px;line-height:15px;text-align:center;margin:0 3px}
.skin_pag a:hover,.s_on{background-position:-55px -69px !important;color:#fff;text-decoration:none}
.sk_le,.sk_ri{float:left;width:8px;height:14px;margin:8px 5px}
.sk_le{background-position:-24px -69px;margin-left:10px}
.sk_ri{background-position:-32px -69px}
.skin_btn{float:right}
.skin_btn a{float:left;width:67px;height:30px;line-height:30px;text-align:center;font-size:14px;font-weight:bold}
.dr{background-position:-70px -69px;color:#fff !important}
#skinnew{display:none}
.sides{position:fixed;_bottom:auto;left:50%;bottom:50px;visibility:hidden;width:59px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-60))}
.s-box a{background:url(/images/index1/sides_.png) no-repeat;display:block;width:30px;height:30px;padding:9px;text-align:center;line-height:16px;margin:3px 0 3px 4px;overflow:hidden}
.s-box a:hover{background-position:-48px 0;color:#fff;text-decoration:none} 
.s-top{background-position:0 -48px !important}
.s-top:hover{background-position:-48px -48px !important}
.g-box{display:block;width:59px;height:66px}