::-webkit-scrollbar {
    width:8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 15px;
}

::-webkit-scrollbar-button {
    height: 2px;
    width: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.30);
}
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#000;background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft YaHei";
}
input,select,textarea {
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 正常链接 未访问 */
a:link {
    color: #08c;
}

/* 鼠标悬停 */
a:hover {
    color: #08c;
    text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 代码字体 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
.fn-hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,
.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*header*/
.header {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    text-align: left;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: #3f505b;
    -webkit-user-select: none;
}
.fh-refresh {
    width: 22px;
    height: 22px;
    background: url("http://cdn.api.mb.baidu.com/api_res/inc/css/img/refresh.png?_=2") no-repeat;
    position: absolute;
    top: 5px;
    right: 4px;
    cursor: pointer;
}
.playRecordText{
	font-weight:bold
	display:inline;
	position: absolute;

}
.playrecord {
    display:inline-block;
	position: absolute;
	width :75%;
	text-overflow:ellipsis; 
	white-space:nowrap;
	overflow:hidden;
	left:70px;
}

.fh-refresh:hover {
    background-position: -22px 0;
}
.fh-refresh:active {
    background-position: -44px 0;
}
.header .off {
    background-position: -66px 0;
}
.game{
	top: 36px;
    left: 5px;
	position: relative;
}
.fh-del {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 4px;
    top: 5px;
    cursor: pointer;
    background: url("http://cdn.api.mb.baidu.com/api_res/inc/css/img/del.png?_=2");
}
.fh-del:hover {
    background-position: -22px 0;
}
.fh-del:active {
    background-position: -44px 0;
}

.fh-add {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 38px;
    top: 5px;
    cursor: pointer;
    background: url("http://cdn.api.mb.baidu.com/api_res/inc/css/img/add.png?_=2");
}
.fh-add:hover {
    background-position: -22px 0;
}
.fh-add:active {
    background-position: -44px 0;
}

.fh-back {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 4px;
    top: 5px;
    cursor: pointer;
    background: url("http://cdn.api.mb.baidu.com/api_res/inc/css/img/back.png?_=2");
}
.fh-back:hover {
    background-position: -22px 0;
}
.fh-back:active {
    background-position: -44px 0;
}
body {
    background-color: #fcfcfc;
}
.content {
    padding: 10px;
    margin-top: 32px;
}
@media screen and  (min-height: 387px){
    .content {
        padding-top: 15px;
    }
}
.big-pics {
    width: 420px;
    height: 193px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    -webkit-user-select: none;
}
.sliderBoxUl {
    height: 193px;
    display: block;
    position: absolute;
    white-space: nowrap;
}
.sliderBoxLi {
    display: inline-block;
    *zoom:1;*display: inline;
    list-style: none;
    width: 420px;
    height: 193px;
    position: relative
}

.sliderBoxLi a {
    width: 100%;
    height: 100%;
    border: 0;
    display: block
}

.sliderBoxLi a img {
    width: 100%;
    height: 100%;
    border: 0
}

.sliderTitle {
    padding-left: 7px;
    font-size: 14px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 1
}

.sliderShade {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: .6;
    filter: alpha(opacity=60);
    background: #000
}

.sliderBoxLeft {
    position: absolute;
    top: 70px;
    left: 5px;
    width: 20px;
    height: 34px;
    background: url(/api_res/apps/hot_searchs/css/img/prev_59f94e7.png) 0 0 no-repeat;
    cursor: pointer;
    _background: 0 0;
    _filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='/api_res/apps/hot_searchs/css/img/prev_59f94e7.png')"
}

.sliderBoxRight {
    position: absolute;
    top: 70px;
    right: 5px;
    width: 20px;
    height: 34px;
    background: url(/api_res/apps/hot_searchs/css/img/next_a184b78.png) 0 0 no-repeat;
    cursor: pointer;
    _background: 0 0;
    _filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='/api_res/apps/hot_searchs/css/img/next_a184b78.png')"
}

.sliderBoxDotBox {
    position: absolute;
    height: 30px;
    max-width: 400px;
    right: 0;
    bottom: 0;
    line-height: 30px;
    text-align: right;
    z-index: 100;
    *bottom: -12px;
}

.sliderBoxDotBox .dot {
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: #828181;
    cursor: pointer;
    overflow: hidden;
    margin-right: 8px;
    display: inline-block;
    *zoom:1;*display: inline;
}

.sliderBoxDotBox .dotSelected {
    background-color: #fff;
}
.search-lists{
    padding: 3px 0;
}
.search-li {
    float: left;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    width: calc((100% - 70px)/3);
    padding-left:8px;
    margin: 7px 23px 0 0;
    position: relative;
}
.search-li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    top: 8px;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #3f505b;
}
.search-li:nth-child(3n+0) {
    margin-right: 0;
}
.search-li a {
    color: #3f505b;
}
/*.search-li a:hover {
    text-decoration: none;
    color: #2c85ff;
}
.search-li a:hover:before{
    background-color: #2c85ff;
}*/
.search-li.on a:before {
    background-color: #fd8e37;
}
.search-li.on a {
    color: #fd8e37;
}
/*.search-li.on a:hover {
    color: #2c85ff;
}
.search-li.on a:hover:before {
    background-color: #2c85ff;
}*/
.search-li.visited a:before {
    background-color: #b1b8bd;
}
.search-li.visited a {
    color: #b1b8bd;
    text-decoration: none;
}
/*.search-li.visited a:hover {
    color: #2c85ff;
}
.search-li.visited a:hover:before {
    background-color: #2c85ff;
}*/
.search-li a.a-hover{
    color: #2c85ff;
    text-decoration: none;
}
.search-li a.a-hover:before{
    background-color: #2c85ff;
}
/////////////////////////////////////////////////////////////////////////////////

a:link {
text-decoration: none;
cursor: pointer ;
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a:visited {
text-decoration: none;
cursor: pointer ;
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a:hover {
text-decoration: none;
cursor: pointer ;
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a:active {
text-decoration: none;
cursor: pointer ;
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer {
    width: 100%;
    height: 27px;
    font-size: 12px;
    color: #b1b8bd;
    line-height: 27px;
    background-color: #f2f2f2;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
}
html{overflow-x:hidden}
.box{
	width:100%;
	height: 0;
	position:relative;
	top: 40px;
}

.replace_btn {
	margin:0 auto;
	display:block;
	position:relative;
	vertical-align:middle;
    width: 85px;
    height: 28px;
    color: white;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;
	//border:none
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
}
.more_game_text {
	text-decoration:none; 
	margin:0 auto;
	display:block;
	position:relative;
	text-align: center;
	vertical-align:middle;
	color:gray;
}
.separator{
display:inline;
position: relative;
font : 19px;
color : gray;
display : inline;
height:50px; 
width:1px; 
border-left:1px #000 solid;
left: 58px;
}
.tm_list{float:left;padding:7px 0 0 5px}
.tm_list li{float:left;width:97px;height:95px;padding-top:3px;display:inline;line-height:22px;text-align:center;margin-left:6px;overflow:hidden;position:relative}
.tm_list img{display:block;width:72px;height:72px;margin:0 auto}